.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
}
.irbefore {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: -1px;
  padding: 0;
}
.visuallyhidden.focusableactive,
.visuallyhidden.focusablefocus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0;
}
.invisible {
  visibility: hidden;
}
.clearfixbefore,
.clearfixafter {
  content: " ";
  display: table;
}
.clearfixafter {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.flag {
  display: table;
  width: 100%;
}
.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}
.flag--top {
  vertical-align: top;
}
.flag--bottom {
  vertical-align: bottom;
}
.flag__image {
  padding-right: 10px;
img
  display: block;
  max-width: none;
}
.flag--rev {
  padding-right: 0;
  padding-left: 10px;
}
.flag__body {
  width: 100%;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000;
}
.halfCircle-up {
  height: 20px;
  width: 40px;
  border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  -webkit-border-radius: 40px 40px 0 0;
  background: #000;
}
.halfCircle-down {
  height: 20px;
  width: 40px;
  border-radius: 0 0 40px 40px;
  -moz-border-radius: 0 0 40px 40px;
  -webkit-border-radius: 0 0 40px 40px;
  background: #000;
}
.halfCircle-right {
  height: 40px;
  width: 20px;
  border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0 40px 40px 0;
  background: #000;
}
.halfCircle-left {
  height: 40px;
  width: 20px;
  border-radius: 40px 0 0 40px;
  -moz-border-radius: 40px 0 0 40px;
  -webkit-border-radius: 40px 0 0 40px;
  background: #000;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  margin: 0;
  padding: 0;
  color: $color1;
  background: $color2;
  font-family: 'Source Code Pro', monaco, monospace;
}
h1 {
  margin: 0 auto 20px auto;
  font-size: 2em;
}
h2 {
  margin: 0 auto 20px auto;
  font-size: 1.8em;
}
h3 {
  margin: 0 auto 20px auto;
  font-size: 1.6em;
}
p {
  margin: auto;
  font-size: 1em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.wrapper {
  width: 90%;
  display: block;
  margin: auto;
}
footer {
  text-align: center;
  margin: 50px auto 50px auto;
}
footer a {
  color: $color1;
}
header {
  max-width: 600px;
  width: 100%;
  margin: 20px auto 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header h1 {
  width: 70%;
  max-width: 1024px;
  margin: auto;
  display: inline-block;
  text-align: left;
  font-size: 3em;
  font-weight: 700;
}
header img {
  width: 10%;
  max-width: 150px;
  height: auto;
  display: inline-block;
}
