header
    max-width 600px
    width 100%
    margin 20px auto 20px auto
    box-sizing border-box
    h1
        width 70%
        max-width 1024px
        margin auto
        display inline-block
        text-align left
        font-size 3.0em
        font-weight 700
    img
        width 10%
        max-width 150px
        height auto
        display inline-block

