h1
    margin 0 auto 20px auto
    font-size 2.0em
h2
    margin 0 auto 20px auto
    font-size 1.8em
h3
    margin 0 auto 20px auto
    font-size 1.6em
p
    margin auto
    font-size 1em
    hyphens auto

.wrapper
    width 90%
    display block
    margin auto
