main
    article
        width 50%
        margin auto
        max-width 600px
        h2
            margin 0 auto 20px auto
            font-size 2.0em
        p
            max-width 510px
            margin auto
            font-weight 100
            font-size 0.9em
            letter-spacing 0.1em
            line-height 1.2em
            hyphens auto
