@import 'nib'
@import 'lib/*'
@import 'components/*'

global-reset()

html
body
    margin 0
    padding 0
    color $color1
    background $color2
    font-family $font

@import 'header'
@import 'content'
@import 'footer'
